/* begin general styles for all themes */

form {
    margin: 0px;
}
/* Generic text formatting used throughout the store ---------------------------- */

.actCHECKOUTEM {
    background-color: #665318;
}
.actCHECKOUTBG {
    background-color: #ffffff;
}
.actlarger {
    font-size: 11px;
}
.actsmaller {
    font-size: 10px;
}
.actxxsmall {
    font-size: 10px;
}
.actxsmall {
    font-size: 11px;
}
.actsmall {
    font-size: 11px;
}
.actregular {
    font-size: 11px;
}
.actlarge {
    font-size: 14px;
}
.actxlarge {
    font-size: 20px;
}
.actxxlarge {
    font-size: 20px;
}
.actwarningcolor {
    color: #bf4544;
}
.actrequiredcolor {
    color: #bf4544;
}
.actsearchhighlightcolor {
    color: #bf4544;
}
.actrequired {
    color: #bf4544;
}
.actwarning {
    font-size: 11px;
    color: #bf4544;
}
.actwelcome {
    font-size: 11px;
}
.actlogout {}
/* Shopping cart and checkout fields ------------------------------------------- */

div.CheckoutCartSection {
    margin-top: 0px;
    margin-bottom: 10px;
}
table.checkout#idTableCheckoutSection {
    margin-bottom: 0px;
}
table.checkout-cart {
    border-collapse: collapse;
    padding: 0px 0px;
    margin-bottom: 5px;
    max-width: 100%;
}
table.checkout-cart th {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #1f1f1f;
    background: #f4f1e8;
    padding: 4px 4px;
    height: 25px;
    border-bottom: solid 1px #665318;
}
table.checkout-cart td {
    padding: 4px 4px;
}
table.checkout {
    width: 960px;
    border-collapse: collapse;
    padding: 0px 0px;
    text-align: left;
    margin-bottom: 5px;
}
table.checkout th {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #1f1f1f;
    background: #f4f1e8;
    text-transform: uppercase;
    text-align: left;
    padding: 5px 2px;
    height: 25px;
    border-bottom: solid 1px #665318;
}
table.checkout th.instruction {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
}
table.checkout th.change {
    font-size: 11px;
    font-weight: bold;
    padding: 0px 0px;
    text-align: right;
}
table.checkout th a {
    color: #1f1f1f;
}
.checkout-change-button {
    background: #665318;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    padding: 0px 5px;
    margin-right: 1px;
}
.checkout-login-button {
    line-height: 13px;
    height: 15px;
    width: 70px;
    margin: 20px 0px 20px 0px;
    padding: 3px 20px 2px 0px;
    font-size: 11px;
    background-color: #665318;
    border: 1px solid #b2954f;
    color: #ffffff;
    background-image: url('theme_icon_add_to_cart.gif');
    word-spacing: normal;
}
.checkout-login-button a {
    padding-left: 20px;
    color: #ffffff;
    text-decoration: none;
}
table.checkout td {
    background-color: #ffffff;
    border-right: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    padding: 2px 2px;
}
table.checkout td.cart {
    background-color: #ffffff;
    border-bottom: solid 1px #665318;
}
table.checkout#idBothAddressesTable col {
    width: auto;
}
td#idCheckoutHelpLabel,
table.checkout#idBothAddressesTable col.prompt {
    width: 130px;
}
.cart {
    background-color: #ffffff;
    border-bottom: solid 1px #665318;
}
.checkout-cartheading {
    font-weight: bold;
    background-color: #ffffff;
    border-top: solid 1px #665318;
    border-bottom: solid 1px #665318;
}
.cartheading {
    background-color: #f4f1e8;
    font-weight: bold;
    color: #424242;
}
h2.checkout-heading {
    background-color: #f2f0e9;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
    border-bottom: solid 3px #ffffff;
}
h3.checkout-heading {
    padding: 4px;
    background-color: #f2f0e9;
    font-size: 11px;
    font-weight: bold;
    border-bottom: solid 3px #ffffff;
}
.checkout-subheading {
    font-weight: bold;
    padding: 0;
    margin: 0;
}
img.cartthumbnail {
    border: 0px;
    margin-left: 2px;
    margin-right: 2px;
    width: 25px;
}
.cart-button {
    height: 25px;
}
input.normal-button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background: #665318;
    padding: 5px;
    border: solid 1px #373737;
}
input.highlight-button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background: #b2954f;
    padding: 5px;
    border: solid 1px #373737;
}
.checkout-field-label {
    width: 160px;
}
.checkout-field-input {
    width: auto;
}
.checkout-field-input input,
.checkout-field-input select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #373737;
    background-color: #ffffff;
    padding: 2px;
}
.InvoiceField input,
.InvoiceField select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #373737;
    background-color: #f4fbfd;
    padding: 2px;
}
.DeliverField input,
.DeliverField select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #373737;
    background-color: #f4fbfd;
    padding: 2px;
}
table.checkout#idBothAddressesTable select {
    width: 211px;
}
input.checkbox {
    background-color: #ffffff;
    border: 0;
}
.checkout-field-area {
    background: #ffffff;
    border-bottom: solid 2px #ffffff;
    width: 960px;
}
.checkout-field-area p {
    margin: 0;
    padding: 4px;
}
div.checkout-buttons {
    width: 960px;
    height: 50px;
    margin-top: 20px;
}
.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 40%;
}
.spacer {
    clear: both;
}
.checkout-help-hide {
    display: none;
}
/* Formatting for the site map -------------------------------------------- */

#actinic-sitemap {
    margin-left: 5px;
}
#actinic-sitemap ul {
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
}
/* Formatting for Feefo customer feedback --------------------------------- */

.feefositelogo {
    margin-top: 10px;
    text-align: center;
}
.feefoproductlogo {
    margin-top: 10px;
}
.comm-table td {
    vertical-align: top;
    padding: 4px 10px 4px 4px;
    border-bottom: 1px solid #fff;
    background: white !important;
}
/*page*/

#page {
    width: 100%;
    margin: 0px;
    padding: 15px 0px 0px 0px;
    background: #fff;
    overflow: hidden;
}
.alsobought {
    color: #808080;
}
/* comments box start*/

.comments {
    overflow: hidden;
    padding: 0 0 20px;
}
.comm-table h3 a {
    color: #000;
    font-weight: bold;
    text-decoration: none !important;
}
.comm-table h3 a:hover {
    color: #939598;
}
.comm-table {
    width: 100%;
    border-collapse: collapse;
}
.comm-table th {
    background: #bcbdc0;
    padding: 0 4px;
    text-align: left;
    border-bottom: 1px solid #fff;
}
.comm-table td {
    vertical-align: top;
    padding: 4px 10px 4px 4px;
    border-bottom: 1px solid #fff;
    background: #fff4bf;
}
.comm-table .row td {
    background: #ffec95;
}
.comm-table h3 {
    font: bold 1em Arial, Helvetica, sans-serif;
    margin: 0;
}
.comm-table ul {
    padding: 0;
    margin: 0;
    height: 1%;
    overflow: hidden;
}
.comm-table ul li {
    height: 1%;
}
.comm-table p {
    margin: 0;
}
.comm-table a {
    color: #000;
    text-decoration: underline;
}
.comm-table a:hover {
    color: #939598;
    text-decoration: none;
}
.comm-rating {
    overflow: hidden;
    padding: 0 0 8px;
}
.comm-rating em {
    display: block;
    font-style: normal;
}
.comm-rating img {
    vertical-align: middle;
}
/* Recently Viewed Products List Style ------------------------------------ */

#rphtml {
    display: none;
    visibility: hidden;
}
/* Used internally - do not delete */

#recenthtlist {
    width: 960px;
    text-align: left;
}
#recenthtitem {
    border-spacing: 0px;
    border-collapse: collapse;
}
#recenthtitem td {
    width: 200px;
    padding: 10px;
    text-align: center;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
.recenthtitemimage {
    border-top: 1px solid #999;
}
.recenthtitemdesc {} .recenthtitemprice {} .recenthtitemdelete {
    border-bottom: 1px solid #999;
}
.recenthtitemspacer {
    width: 15px !important;
    border: 0 !important;
    padding: 0px !important;
}
.recenththeader {
    /* padding: 3px; font-size: 14px; font-weight: 900; margin: 0px; color: #808080; width: 496px; border-top: 1px solid #f2f0e9; border-bottom: 1px solid #f2f0e9; */
}
.recenthtbuttonleft {
    float: left;
    cursor: pointer;
    width: 100px;
    border: 0;
    background-color: #ffffff;
}
.recenthtbuttonright {
    float: right;
    cursor: pointer;
    width: 100px;
    border: 0;
    background-color: #ffffff;
}
/* Styles for product image and fragment image placement in some layouts -------------------------- */

.image_float_right {
    float: right;
    margin: 16px 0px 15px 20px;
}
.image_product {
    margin: 0px 18px 10px 0px;
    text-align: center;
    float: left;
}
/* My Account pages  --------------------------------------------------------------*/

.myaccount-shadow {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('myaccount-popup-bg.png');
    background-repeat: repeat;
}
.myaccount-popup {
    position: fixed;
    width: 500px;
    height: 250px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -125px;
    padding-left: 85px;
    padding-top: 50px;
    background-color: #ffffff;
}
/* start search results sort list */

.sort_by {
    background: none;
    padding: 5px;
    color: #333;
    font-weight: 500;
    text-align: right;
    margin-bottom: 15px;
    font-size: 12px;
}
.sort_by_margin {
    margin: 0 10px 10px 0;
}
.sort_by select {
    color: #666;
    font: 13px/1.3 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
.sort_by-submit {
    background: transparent;
    height: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    margin-right: 1px;
    margin-top: 1px;
    border: 0;
}
.sort_by-submit:hover {
    cursor: pointer;
    text-decoration: underline;
}
/* end search results sort list */
/* start auto suggestion list */

.sf_suggestion {
    position: absolute;
    line-height: 15px;
    z-index: 2147483637;
}
.sf_suggestion ul {
    margin: 1px;
    padding: 0px;
    background: #ffffff;
    border: 1px solid rgb(51, 51, 51);
    top: 0;
    left: 0;
}
.sf_suggestion li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sf_suggestion li a {
    display: block;
    text-indent: 5px;
    text-align: left;
    padding: 5px;
    text-decoration: none;
}
.sf_suggestion li.selected a {
    background: #cccccc;
    color: #000000;
    font-weight: normal;
}
.sf_suggestion li.notselected a {
    color: #000000;
    font-weight: normal;
}
/* end auto suggestion list */
/* start filter loading dialog */

.loading-block {
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-left: 50%;
    z-index: 2147483638;
}
.loading-gif {
    display: table-cell;
    vertical-align: middle;
}
.loading-shadow {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-repeat: repeat;
    opacity: 0.9;
}
/* start filter loading dialog */
/* Some basic formatting for filter lists in upgraded themes */

.sidebar-filter-element {
    padding: 10px;
    background: white;
    border: solid 1px #b2954f
}
.sidebar-filter-element h2 {
    font-weight: bold;
    font-size: 18px;
    color: #b2954f;
    margin: 0;
    padding: 10px 0 15px;
}
.filter-by {
    float: right;
}
.sidebar-filter-element .button-wrapper {
    float: right;
    margin-bottom: 10px;
}
sidebar-navigation .sidebar-filter-element {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
sidebar-navigation .smart-sidebar-filter .sidebar-filter-element {
    border: 1px solid #665318;
    margin-bottom: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
sidebar-navigation .sidebar-filter-element h2 {
    font-weight: bold;
    font-size: 24px;
    color: #84d6eb;
    margin: 0;
    padding: 15px;
}
.sidebar-navigation .sidebar-filter-element .button-wrapper,
.sidebar .sidebox .sidebar-filter-element .button {} .sidebar-navigation .sidebar-filter-element .button-wrapper {
    float: right;
    margin-bottom: 10px;
}
.sidebar .sidebar-filter-element .button {} .sidebar-navigation .sidebar-filter-element h2 input {
    float: right;
    clear: none;
    margin-bottom: 0;
}
.sidebar-navigation .sidebar-filter-element .filter-text {
    display: inline;
    line-height: 20px;
}
.sidebar-navigation .filter-by {
    float: right;
}
.sidebar-navigation .filter-by input {
    display: inline-block;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    background: #b2954f;
    padding: 0 10px;
    border-left: 1px solid #888888;
    height: 20px;
}
.sidebar-navigation .filter-submit {
    cursor: pointer;
    border: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #ffffff;
}
.sidebar-navigation .filter-list {
    padding: 0;
}
/* start clear button */

.clear-button {
    float: right;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 10px;
    font-weight: normal;
    padding: 2px 6px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}
.clear-button:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}
.clear-button:active {
    position: relative;
    top: 1px;
}
/* end clear button */

.filter-submit {
    background: transparent;
    color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0 3px;
    border-width: 0;
    padding: 4px;
}
.filter-submit:hover {
    cursor: pointer;
    text-decoration: underline;
}
/*############################################ MEGA MENU STYLES  Background images, styles and formatting  of Mega Menu controlled below ############################################*/

.navigation-bar {
    z-index: 999999;
    height: 30px;
    margin: 0;
}
.navigation-bar ul {
    width: 100% !important;
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigation-bar ul li {
    position: relative;
    float: left;
    margin-top: 3px;
}
.navigation-bar ul li ul li {
    border-left: none;
}
.navigation-bar ul li#last {} .navigation-bar ul ul {
    border-right: none;
    border-left: none;
    background: none;
}
.navigation-bar ul ul li a {
    color: #b2954f;
    text-decoration: none;
}
.navigation-bar a {
    display: block;
    float: left;
    line-height: 32px;
    padding: 0 6px;
}
/* Used to style hover/selected action on top level links */

.navigation-bar ul li a.sel:link,
.navigation-bar ul li a.sel:visited,
.navigation-bar ul li a.sel:active,
/* top menu bar hover style */

.navigation-bar ul li a:hover {
    color: #b29752;
    text-decoration: none;
}
/* Drop Down Box */

.navigation-bar ul li div {
    position: absolute;
    top: 10px;
    text-align: left;
    display: none;
    background: black;
    padding: 0;
    width: 254px;
    z-index: 9999999;
}
.navigation-bar ul li div div {
    text-align: left;
    display: block;
    position: relative;
    top: 0px;
    width: 100%;
}
.lastMenudiv {
    right: 0px;
}
.navigation-bar ul li div ul {
    width: 200px;
    float: left;
    margin: 0px 0px 0px 0px;
    height: auto;
    border-bottom: 1px dotted gray;
}
.navigation-bar ul li div ul.last {
    border-right: none;
    margin-right: 0px;
}
.navigation-bar ul li div ul li {
    float: none;
    background: none;
    padding: 0;
    border-right: none;
}
.navigation-bar ul li div ul li a {
    color: white;
    background: black;
    text-align: left;
    float: none;
    padding: 4px 5px;
    height: auto;
    line-height: normal;
    border-left: none;
    font-weight: normal;
    width: auto;
}
.navigation-bar ul li div ul li a:hover {
    color: #ae9749;
    text-decoration: none;
}
/* Styles for each row of links */

.navigation-bar ul li div .row {
    clear: both;
    height: 1%;
    overflow: hidden;
    background: none;
    padding: 0px;
    border: solid 0px white;
}
/* Used to overwrite id's styles */

a.dropheading {
    padding: 5px 7px !important;
    margin: 0px !important;
    height: auto !important;
    line-height: normal !important;
    display: block;
}
a.dropheading:hover {
    color: #ae9749 !important;
}
a.droplink,
a.dropfooter {
    color: #000 !important;
    background: none !important;
    margin-left: 10px !important;
    font-weight: normal;
    display: block;
}
a.droplink:hover,
a.dropfooter:hover {
    color: #ae9749;
}
/* end mega menu */
/* Social Media */

.follow-buttons,
.share-buttons {
    vertical-align: top;
    padding: 0;
    height: 28px;
}
.follow-buttons {
    float: right;
    clear: right;
}
.follow-buttons,
.social-badges {
    margin: 10px;
}
.social-badges {
    clear: left;
}
.social-badges img {
    padding: 0 3px;
    border: none;
}
.twitter-follow-button,
.twitter-share-button,
.fb-like,
.fb-send,
a.pin-follow {
    float: left;
    vertical-align: top;
    margin: 0 4px 0 0;
}
.fb-share {
    float: left;
    vertical-align: top;
    margin: 0 0 0 -10px;
    padding: 0;
}
.fb-follow {
    float: left;
    vertical-align: top;
    margin: 0 10px 0 0;
    width: 56px;
    text-align: left;
}
.g-follow,
.g-ytsubscribe {
    float: left;
    margin: 0 4px 0 0;
}
a.pin-button img {
    border: 0;
}
.embedded-map {
    margin: 20px 0;
}
.embedded-map iframe {
    border: 1px #b2954f solid;
}
fieldset.quantity-box,
fieldset.product-prompt {
    border: 0;
}
.pagination{text-align: center;}
.pagination a { display: inline-block; padding: 5px 10px; color: #333; border: 1px solid #bbb; background: url(../images/buttonbg5.png) repeat-x bottom left; }
.pagination a { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.pagination a { -moz-box-shadow: 1px 1px 0 #f7f7f7; -webkit-box-shadow: 1px 1px 0 #f7f7f7; box-shadow: 1px 1px 0 #f7f7f7; }
.pagination a:hover { -moz-box-shadow: inset 1px 1px 3px #eee; -webkit-box-shadow: inset 1px 1px 3px #eee; }
.pagination a:hover { text-decoration: none; background: #eee; box-shadow: inset 1px 1px 3px #eee; }
.pagination a.disabled { color: #999; border: 1px solid #ccc; }
.pagination a.disabled:hover { background: url(../images/buttonbg5.png) repeat-x bottom left; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.pagination a.current { background: #333 url(../images/buttonbg3.png) repeat-x top left; color: #fff; border: 1px solid #666; }
.pagination a.current:hover { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.order_info label{
    float: left;
    width: 100%;
    margin: 10px 0 2px 0;
}
.order_info label span{
    color: red
}
.order_info input[type="text"], .order_info select, .order_info textarea{
    float: left;
    width: 100%;
    border: 1px solid #d4d4d4;
    height: 22px;
}
.order_info select{height: 25px;}
label.error {
    display: block;
    color: red;
    margin-bottom: 5px;
}
span.del{display: block;cursor: pointer;font-weight: bold;}
.ddl_quan{width: 80px;border-radius: 5px;height: 25px;}
.order_info .tas-red-button{height: auto;}
