input[type="radio"]{
    width: 20px;
    height: 20px;
}
.pagination a { display: inline-block; padding: 5px 10px; color: #333; border: 1px solid #bbb; background: url(../images/buttonbg5.png) repeat-x bottom left; }
.pagination a { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.pagination a { -moz-box-shadow: 1px 1px 0 #f7f7f7; -webkit-box-shadow: 1px 1px 0 #f7f7f7; box-shadow: 1px 1px 0 #f7f7f7; }
.pagination a:hover { -moz-box-shadow: inset 1px 1px 3px #eee; -webkit-box-shadow: inset 1px 1px 3px #eee; }
.pagination a:hover { text-decoration: none; background: #eee; box-shadow: inset 1px 1px 3px #eee; }
.pagination a.disabled { color: #999; border: 1px solid #ccc; }
.pagination a.disabled:hover { background: url(../images/buttonbg5.png) repeat-x bottom left; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.pagination a.current { background: #333 url(../images/buttonbg3.png) repeat-x top left; color: #fff; border: 1px solid #666; }
.pagination a.current:hover { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.pgright { position: absolute; right: 10px; top: 12px; }
.pgright a.disabled { border: 1px solid #ccc; }
.image_product_details div.row{
    float: left;
    margin: 5px;
    padding: 5px;
    border:1px solid #09f;
}
.image_product_details  input{
    margin-left: 20px;
    width: 44px;
}
.image_product_details img{
    height:  40px;   
    width:   40px;   
    margin-bottom: 5px;

}
#attr_content{
    background: #ccc;
    border: 1px solid #ddd;
    padding: 10px;
    width: 500px;       
    border-radius: 10px;
}
#attr_content .row_attr{margin-bottom: 5px;border-bottom: 1px solid #7ad03a;padding-bottom: 5px}
#attr_content input{width: 120px;}
#attr_content .row_attr span{display: block;float: left;color: green;font-size: 18px;font-weight: bold;margin-right: 15px;}
#attr_content input[type="file"]{width: auto;margin-right: 10px;}
.location_other {font-weight: bold;color: rgb(221, 147, 11);}
.location_current {font-weight: bold;color: rgb(221, 11, 11);}
#example2 p{padding: 0}
.price_error{background: #CE9595;}
input.count{border-radius: 5px;float: right;width: 100px;}
.waitting_product{    color: silver;
font-weight: bold;}
.cancel{font-weight: bold; color: red;}
.approved{ font-weight: bold;
   color: green;}
   .order{font-weight: bold;
   color:  #ff944d;}
.unknown{
	font-weight: bold;
	color: #cc33ff;
}

.return{
	color: red;
	font-weight: bold;
}